<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents">
	<div id="productDetailHeader" class="d-flex">
		<div class="productDetailThumbnailImage border col-6 d-flex justify-content-center py-1" >
			<img th:src="${productDetailCardDTO.url[0].url}" alt="상품 썸네일 이미지">
		</div>
		<div class="prodcutDetailMenu border col-6">
			<div class="productDetailTite" th:text="${productDetailCardDTO.name}">제목</div>
			<div class="productDetailPrice text-right" th:text="|${productDetailCardDTO.price}원|">가격</div>
			<div class="ProductSalePrice text-right">세일가격</div>
			<div th:if="${productDetailCardDTO.quantity > 0}">
				<hr>
				<div class="ProductQuantity d-flex justify-content-between">
				    <div class="quantityControl">
				        <button type="button" id="decreaseBtn">-</button>
				        <input type="text" value="1" id="countInput">
				        <button type="button" id="increaseBtn">+</button>
				    </div>
				    <span id="productQuantity" th:data-quantity="${productDetailCardDTO.quantity}" th:text="|재고:${productDetailCardDTO.quantity}|"></span>
	   				<span id="productTotalPrice"  th:text="|${productDetailCardDTO.price}원|">18,900원</span>
				</div>
				<hr>
				<div id="buyMenus" class="d-flex justify-content-around">
					<button id="directPaymentBtn" class="btn btn-outline-success col-5 p-1" th:data-product-id="${productDetailCardDTO.id}">바로결제</button>
					<button id="shoppingcartBtn" class="btn btn-success col-5 p-1" th:data-product-id="${productDetailCardDTO.id}">장바구니</button>
				</div>
			</div>
			<div th:unless="${productDetailCardDTO.quantity > 0}" class="d-flex justify-content-center">
				<span class="productSoldOutText">sold out</span>
			</div>
		</div>
	</div>
	<div class="productImage d-flex border justify-content-center" th:each="productImage, status : ${productDetailCardDTO.url}">
		<div th:if="${status.index > 0}">
			<img th:src="${productImage.url}" alt="상품 본문 이미지">
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
		$(document).ready(function() {
			initializeHeaderEvent();
			
			$("#decreaseBtn").on("click", function() {
				const count = parseInt($("#countInput").val(), 10);
				if (count == 1) {
					alert("구매수량은 최소 1개 입니다.");
					return;
				}
				if (count)
				$("#countInput").val(count - 1);
				updateTotalPrice(count - 1);
			});
			
			$("#increaseBtn").on("click", function() {
				const count = parseInt($("#countInput").val(), 10);
				const productQuantity = parseInt($("#productQuantity").data("quantity"), 10);
				if (count >= 5) {
					alert("구매수량은 최대 5개 입니다.");
					$("#countInput").val(5);
					return;
				}
				if (count + 1 > productQuantity) {
					alert("재고가 부족합니다.");
					$("#countInput").val(productQuantity);
					updateTotalPrice(productQuantity);
					return;
				}
				$("#countInput").val(count + 1);
				updateTotalPrice(count + 1);
			});
			
			$("#quantityInput").on("change", function() {
				const count = parseInt($("#countInput").val(), 10);
				const productQuantity = parseInt($("#productQuantity").data("quantity"), 10);
				if (count >= 5) {
					alert("구매수량은 최대 5개 입니다.");
					$("#countInput").val(5);
					updateTotalPrice(5);
					return;
				}
				if (count > productQuantity) {
					alert("재고가 부족합니다.");
					$("#countInput").val(productQuantity);
					updateTotalPrice(productQuantity);
					return;
				}
				if (count < 1) {
					alert("구매수량은 최소 1개 입니다.");
					$("#countInput").val(1);
					updateTotalPrice(1);
					return;
				}
				updateTotalPrice(count);
			});
			
			$("#shoppingcartBtn").on("click", function() {
				const productId = $(this).data("product-id");
				const productCount = $("#countInput").val();
				$.ajax({
					type:"POST"
					, url:"/shoppingcart/insert"
					, data: {"productId":productId,"productCount":productCount}
					, success: function(data) {
						if (data.code == 200) {
							alert("장바구니에 상품을 담았습니다.");
							location.reload();
						} else if (data.code == 500) {
							alert(data.message);
							location.reload();
						}
					}
					, error: function(e) {
						alert("요청 처리중에 에러가 발생했습니다.");
						location.reload();
					}
					
				})
			})
			
			 function updateTotalPrice(count) {
				 	const price =  parseInt($(".productDetailPrice").text(), 10);
			        const totalPrice = price * count;
			        $("#productTotalPrice").text(totalPrice + "원"); 
			 }
		});
    </script>
</th:block>