<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents">
	<div id="productList" class="d-flex flex-wrap"> 
        <div class="home-product-card col-3" th:each="productThumbnailCardDTO : ${productThumbnailCardDTOList}">
          	<div class="home-product-image">
				<img th:src="${productThumbnailCardDTO.thumbnailImage}" alt="상품 썸네일">	                	
          	</div>
         	<div class="productText" th:text="${productThumbnailCardDTO.name}">제목</div>
	        <div th:text="|${productThumbnailCardDTO.price}원|">가격</div>
	        <div>세일가격</div>
        </div>
	</div>
	<div id="pagination">
		 <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link text-dark" href="#" aria-label="Previous">
                    <span>&lt;</span>
                </a>
            </li>
            
            <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
            <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
            <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
            <li class="page-item"><a class="page-link text-dark" href="#">4</a></li>
            <li class="page-item"><a class="page-link text-dark" href="#">5</a></li>
            
            <li class="page-item">
                <a class="page-link text-dark" href="#" aria-label="Next">
                    <span>&gt;</span>
                </a>
            </li>
        </ul>
    </nav>
	</div>
    <div class="recently-viewed text-center">
         <h3>최근 본 상품</h3>
         <button class="prev-button">△</button>
         <div>
             <div class="recent-products">Product</div>
             <div class="recent-products">Product</div>
             <div class="recent-products">Product</div>
         </div>      
         <button class="next-button">▽</button>
    </div>
</section>

<th:block layout:fragment="script">
    <script>

    </script>
</th:block>