<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminLayout}">
<section layout:fragment="content">
    <div class="banner">
        <img src="https://via.placeholder.com/1440x400" alt="배너 이미지" class="banner-image">
        <button class="btn left-button">&lt;</button>
        <button class="btn right-button">&gt;</button>
    </div>
    <section class="contents bg-warning">
         <div class="home-product bg-danger">
             <h1>인기상품</h1>
	         <div class="d-flex">           
	              <div type="button" th:each="bestProductThumbnailCardDTO : ${bestProductThumbnailCardDTOList}" class="home-product-card col-4" th:data-product-id="${bestProductThumbnailCardDTO.id}">
	              	<div class="home-product-image d-flex justify-content-center">
						<img th:src="${bestProductThumbnailCardDTO.thumbnailImage}" alt="상품 썸네일">	                	
	              	</div>
	              	<div class="productText" th:text="${bestProductThumbnailCardDTO.name}">제목</div>
	              	<div th:text="|${bestProductThumbnailCardDTO.price}원|">가격</div>
	              	<div>세일가격</div>
	              </div>        
            </div>
         </div>
         <div class="home-product bg-danger">
             <h1>신상품</h1>
             <div class="d-flex">
	             <div type="button" th:each="recentProductThumbnailCardDTO : ${recentProductThumbnailCardDTOList}" class="home-product-card col-4" th:data-product-id="${recentProductThumbnailCardDTO.id}">
	              	<div class="home-product-image d-flex justify-content-center">
					<img th:src="${recentProductThumbnailCardDTO.thumbnailImage}" alt="상품 썸네일">	                	
	              	</div>
	              	<div class="productText" th:text="${recentProductThumbnailCardDTO.name}">제목</div>
	              	<div th:text="${recentProductThumbnailCardDTO.price}">가격</div>
	              	<div>세일가격</div>
	         	</div>
	         </div>
         </div>
         <div class="home-product bg-danger">
             <h1>MD추천</h1>
             <div class="d-flex">
              <div class="home-product-card col-4">
              	<div class="home-product-image">
				<img src="" alt="상품 썸네일">	                	
              	</div>
              	<div>제목</div>
              	<div>가격</div>
              	<div>세일가격</div>
              </div>
                 <div class="home-product-card col-4">
              	<div class="home-product-image">
				<img src="" alt="상품 썸네일">	                	
              	</div>
              	<div>제목</div>
              	<div>가격</div>
              	<div>세일가격</div>
              </div>
                 <div class="home-product-card col-4">
              	<div class="home-product-image">
				<img src="" alt="상품 썸네일">	                	
              	</div>
              	<div>제목</div>
              	<div>가격</div>
              	<div>세일가격</div>
              </div>
            </div>
         </div>
	</section>
</section>
   
<th:block layout:fragment="script">
    <script>
		$(document).ready(function() {
			$(".home-product-card").on("click",function() {
				const productId = $(this).data("product-id");
				location.href="/product/product-view/" + productId;
			})
		});
    </script>
</th:block>