<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.sbland.payment.mapper.PaymentMapper">
 	<select id="selectPaymentByImpUid"
 			resultType="com.sbland.payment.domain.Payment">
 			SELECT
 				`id`
				,`imp_uid`
				,`merchant_uid`
				,`order_id`
				,`user_id`
				,`amount`
				,`pay_method`
				,`status`
				,`paid_at`
				,`receipt_url`
				,`card_name`
				,`cancel_reason`
				,`created_at`
				,`updated_at`
			FROM
				`payment`
			WHERE
				`imp_uid` = #{impUid}	
 	</select>
 	<select id="selectPaymentByMerchantUid"
 			resultType="com.sbland.payment.domain.Payment">
 			SELECT
 				,`id`
				,`imp_uid`
				,`merchant_uid`
				,`order_id`
				,`user_id`
				,`amount`
				,`pay_method`
				,`status`
				,`paid_at`
				,`receipt_url`
				,`card_name`
				,`cancel_reason`
				,`created_at`
				,`updated_at`
			FROM
				`payment`
			WHERE
				`merchant_uid` = #{merchantUid}	
 	</select>
 	<select id="selectPaymentByUserId"
 			resultType="com.sbland.payment.domain.Payment">
 			SELECT
 				`id`
				,`imp_uid`
				,`merchant_uid`
				,`order_id`
				,`user_id`
				,`amount`
				,`pay_method`
				,`status`
				,`paid_at`
				,`receipt_url`
				,`card_name`
				,`cancel_reason`
				,`created_at`
				,`updated_at`
			FROM
				`payment`
			WHERE
				`user_id` = #{userId}	
 	</select>
 	<select id="selectPaymentByOrderId"
 			resultType="com.sbland.payment.domain.Payment">
 			SELECT
 				`id`
				,`imp_uid`
				,`merchant_uid`
				,`order_id`
				,`user_id`
				,`amount`
				,`pay_method`
				,`status`
				,`paid_at`
				,`receipt_url`
				,`card_name`
				,`cancel_reason`
				,`created_at`
				,`updated_at`
			FROM
				`payment`
			WHERE
				`order_id` = #{orderId}	
 	</select>
 	<insert id="insertPayment">
 		INSERT INTO `payment` 
 		(
  				`imp_uid`
				,`merchant_uid`
				,`order_id`
				,`user_id`
				,`amount`
				,`pay_method`
				,`status`
				,`paid_at`
				,`receipt_url`
				,`card_name`
				,`cancel_reason`
				,`created_at`
				,`updated_at`
 		)
 		VALUES
		(
 			#{impUid}
 			,#{merchantUid}
 			,#{orderId}
 			,#{userId}
 			,#{amount}
 			,#{payMethod}
 			,#{status}
 			,#{paidAt}
 			,#{receiptUrl}
 			,#{cardName}
 			,#{cancelReason}
 			,NOW()
 			,NOW()
 		)
 	
 	</insert>
 	<update id="updatePayment">
 		UPDATE `payment` 
 		SET
 			`imp_uid`       = #{impUid}
			,`merchant_uid`  = #{merchantUid}
			,`order_id`      = #{orderId}   
			,`user_id`       = #{userId}  
			,`amount`        = #{amount} 
			,`pay_method`    = #{payMethod}
			,`status`        = #{status}
			,`paid_at`       = #{paidAt}
			,`receipt_url`   = #{receiptUrl}
			,`card_name`     = #{cardName}
			,`cancel_reason` = #{cancelReason}
			,`cancel_amount` = #{cancelAmount}
			,`cancelled_at`  = #{cancelledAt}
 			,`updated_at`    = NOW()
 		WHERE
 			`id` = #{id}
 	</update>
 
 </mapper>