<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.sbland.product.mapper.ProductImageMapper">
 	<insert id="insertProductImageList">
 		INSERT INTO `product_image`
 		(
			`product_id`
			,`url`
			,`is_thumbnail`
			,`position`
			,`updated_at`
			,`created_at`
 		)
 		VALUES
 		<foreach collection="list" item="image" separator=",">
	 		(
	 			#{image.product_id}
	 			,#{image.url}
	 			,#{image.is_thumbnail}
	 			,#{image.position}
	 			,NOW()
	 			,NOW()
	 		)	
 		</foreach>	
 	</insert>
 
 </mapper>