<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.sbland.product.mapper.ProductMapper">
 	<insert id="insertProduct" parameterType="com.sbland.product.domain.Product"
 	useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO `product`
 		(
 			`name`
			,`description`
			,`price`
			,`status`
			,`category_code`
			,`updated_at`
			,`created_at`
 		)
 		VALUES
 		(
 			#{name}
 			,#{description}
 			,#{price}
 			,#{status}
 			,#{categoryCode}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	<delete id="deleteProductListById">
 		DELETE 
 		FROM
 			`product`
 		WHERE id In 
 			<foreach collection="list" item="id" open="(" separator="," close=")">
 				#{id}
 			</foreach>
 	</delete>
 	<select id="findProductByCategoryCodeIsNull"
 			resultType="com.sbland.product.domain.Product">
 		SELECT
 			`id`
 			,`name`
			,`description`
			,`price`
			,`status`
			,`category_code`
			,`updated_at`
			,`created_at`
		FROM
			`product`
		WHERE 
			`category_code` IS NULL
 	
 	</select>
 	<update id="updateProductById">
 		UPDATE `product` 
 		SET
 			`name` = #{name}
			,`description` = #{description}
			,`price` = #{price}
			,`status` = #{status}
			,`category_code` = #{categoryCode}
			,`updated_at` = NOW()
		WHERE
			`id` = #{id}		
 	</update>
 	
 	<select id="selectProductByIdIn"
 			resultType="com.sbland.product.domain.Product">
 		SELECT
 			`id`
 			,`name`
			,`description`
			,`price`
			,`status`
			,`category_code`
			,`updated_at`
			,`created_at`
		FROM
			`product`
		WHERE 
			`id` IN 
			<foreach collection="list" item="id" open="(" separator="," close=")">
 				#{id}
 			</foreach>
 	</select>
 	<select id="selectProductByCreatedAt"
 			resultType="com.sbland.product.domain.Product">
 		SELECT
 			`id`
 			,`name`
			,`description`
			,`price`
			,`status`
			,`category_code`
			,`updated_at`
			,`created_at`
		FROM
			`product`
		ORDER BY `created_at` 
		LIMIT #{count}
			
 	</select>
 	<select id="selectProductById"
 			resultType="com.sbland.product.domain.Product">
 		SELECT
 			`id`
 			,`name`
			,`description`
			,`price`
			,`status`
			,`category_code`
			,`updated_at`
			,`created_at`
		FROM
			`product`
		WHERE
			`id` = #{id}		
 	</select>	
 	<select id="selectProductAll"
 			resultType="com.sbland.product.domain.Product">
 		SELECT
 			`id`
 			,`name`
			,`description`
			,`price`
			,`status`
			,`category_code`
			,`updated_at`
			,`created_at`
		FROM
			`product`		
 	</select>
 	<select id="selectProductBySearch"
 			resultType="com.sbland.product.domain.Product">
 		SELECT
 			`id`
 			,`name`
			,`description`
			,`price`
			,`status`
			,`category_code`
			,`updated_at`
			,`created_at`
		FROM
			`product`
		WHERE 
			<if test="code != 0">
			`category_code` BETWEEN #{code} AND #{rightValue}
			</if>
			<if test="keyword.length >= 3">
			MATCH(`name`, `description`) AGAINST(#{keyword} IN BOOLEAN MODE)
			</if> 
		ORDER BY `created_at`
		Limit #{count} 
		OFFSET #{offset}			
 	</select>
 	<select id="selectProductSizeBySearch"
 			resultType="int">
 		SELECT 
 			COUNT(*) 
		FROM
			`product`
		WHERE 
			<if test="code != 0">
			`category_code` BETWEEN #{code} AND #{rightValue}
			</if>
			<if test="keyword.length >= 3">
			MATCH(`name`, `description`) AGAINST(#{keyword} IN BOOLEAN MODE);
			</if> 		
 	</select>
 </mapper>