<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.sbland.user.mapper.UserMapper">
 	<select id="selectUserByLoginId"
 			resultType="com.sbland.user.domain.User">
 		SELECT
 			`id`
			,`login_id`
			,`email`
			,`password`
			,`name`
			,`birthday`
			,`gender`
			,`role`
			,`updated_at`
			,`created_at`
		FROM
			`user`
		WHERE
			`login_id` = #{loginId}	
 	</select>
 	<select id="selectUserByUserIdAndPassword"
 			resultType="com.sbland.user.domain.User">
 		SELECT
 			`id`
			,`login_id`
			,`email`
			,`password`
			,`name`
			,`birthday`
			,`gender`
			,`role`
			,`updated_at`
			,`created_at`
		FROM
			`user`
		WHERE
			`login_id` = #{loginId}	AND 
			`password` = #{password}
 	</select>
 	<insert id="insertUser">
 		INSERT INTO `user`	
 		(
 			`login_id`
			,`email`
			,`password`
			,`name`
			,`birthday`
			,`gender`
			,`role`
			,`updated_at`
			,`created_at`
 		)
 		VALUES
 		(
 			#{loginId}
 			,#{email}
 			,#{password}
 			,#{name}
 			,#{birthday}
 			,#{gender}
 			,#{role}
 			,NOW()
 			,NOW()
 		)			
 	</insert>
 </mapper>