<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.sbland.user.mapper.UserMapper">
 	<select id="selectUserByLoginId"
 			resultType="com.sbland.user.domain.User">
 		SELECT
 			`id`
			,`login_id`
			,`email`
			,`password`
			,`name`
			,`birthday`
			,`gender`
			,`role`
			,`updated_at`
			,`created_at`
		FROM
			`user`
		WHERE
			`login_id` = #{loginId}	
 	</select>
 	<select id="selectUserByUserLoginIdAndPassword"
 			resultType="com.sbland.user.domain.User">
 		SELECT
 			`id`
			,`login_id`
			,`email`
			,`password`
			,`name`
			,`birthday`
			,`gender`
			,`role`
			,`updated_at`
			,`created_at`
		FROM
			`user`
		WHERE
			`login_id` = #{loginId}	AND 
			`password` = #{password}
 	</select>
 	<select id="selectUserByUserIdAndPassword"
 			resultType="com.sbland.user.domain.User">
  		SELECT
 			`id`
			,`login_id`
			,`email`
			,`password`
			,`name`
			,`birthday`
			,`gender`
			,`role`
			,`updated_at`
			,`created_at`
		FROM
			`user`
		WHERE
			`id` = #{id}	AND 
			`password` = #{password}	
 	</select>
 	
 	 	<select id="selectUserById"
 			resultType="com.sbland.user.domain.User">
  		SELECT
 			`id`
			,`login_id`
			,`email`
			,`password`
			,`name`
			,`birthday`
			,`gender`
			,`role`
			,`updated_at`
			,`created_at`
		FROM
			`user`
		WHERE
			`id` = #{id}	
 	</select>
 	
 	<insert id="insertUser">
 		INSERT INTO `user`	
 		(
 			`login_id`
			,`email`
			,`password`
			,`name`
			,`birthday`
			,`gender`
			,`role`
			,`updated_at`
			,`created_at`
 		)
 		VALUES
 		(
 			#{loginId}
 			,#{email}
 			,#{password}
 			,#{name}
 			,#{birthday}
 			,#{gender}
 			,#{role}
 			,NOW()
 			,NOW()
 		)			
 	</insert>
 	<select id="selectFindUserByNameAndEmail"
 			resultType="com.sbland.user.domain.User">
 		SELECT
 			`id`
			,`login_id`
			,`email`
			,`password`
			,`name`
			,`birthday`
			,`gender`
			,`role`
			,`updated_at`
			,`created_at`
		FROM
			`user`
		WHERE
			`name` = #{name}	AND 
			`email` = #{email}
 	</select>
 	<select id="selectUserByLoginIdAndName"
 			resultType="com.sbland.user.domain.User">
 		SELECT
 			`id`
			,`login_id`
			,`email`
			,`password`
			,`name`
			,`birthday`
			,`gender`
			,`role`
			,`updated_at`
			,`created_at`
		FROM
			`user`
		WHERE
			`name` = #{name}	AND 
			`login_id` = #{loginId}
 	</select>
 	<update id="updateUserPasswordByUserNameAndLoginId">
 		UPDATE `user` 
 		SET
			`password` = #{password}
			,`updated_at` = NOW()
		WHERE
			`login_id` = #{loginId} AND
			`name` = #{name}
 	</update>

 	<update id="updateUser"> 
	 	 UPDATE `user` 
	 	 SET
 			`login_id` = #{loginId}
			,`email` = #{email}
			,`password` = #{password}
			,`name` = #{name}
			,`birthday` = #{birthday}
			,`gender` = #{gender}
			,`updated_at` = NOW()
		 WHERE
				`id` = #{id}	
 	</update>
 </mapper>