<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents-mypage d-flex">
		<div class="left-contents">
			<nav class="mypage-menu d-flex align-items-center">
	            <ul class="nav nav-fill w-100">
	                <li class="nav-item w-100"><a href="/user/protect/mypage-view" class="nav-link font-weight-bold text-dark">주문목록</a></li>
	                <li class="nav-item w-100"><a href="#" class="nav-link font-weight-bold text-dark">취소/환불</a></li>
	                <li class="nav-item w-100"><a href="/user/protect/user-info-proxy" class="nav-link font-weight-bold text-dark">정보수정</a></li>
	                <li class="nav-item w-100"><a href="#" class="nav-link font-weight-bold text-dark">쿠폰</a></li>
	            </ul>
	        </nav>
		</div>
		<div class="center-contents">
			<div>
				<div id="nowName" th:text="${userDTO.name}"></div>
				<div id="nowLoginId" th:text="${userDTO.loginId}"></div>
				<div id="nowEmail" th:text="${userDTO.email}"></div>
				<div id="nowbirthday" th:text="${userDTO.birthday}"></div>
				<div id="nowGender" th:text="${userDTO.gender}"></div>
			</div>
			<h1 class="m-4 font-weight-bold text-center">정보수정</h1>
			<form id="userEditForm" method="post" action="/user/protect/update">
				<span class="sign-up-subject">ID</span>
				<div class="d-flex ml-3 mt-3">
					<input type="text" id="loginId" name="loginId" class="form-control col-6" placeholder="ID를 입력해주세요">
					<button type="button" id="loginIdCheckBtn" class="btn btn-success">중복확인</button>
				</div>
				
				<div class="ml-3 mb-3">
					<div id="idCheck" class="small text-danger d-none">ID는 4자 이상 50자 미만이며, 특수문자와 공백 없이 입력해야 합니다.</div>
					<div id="idCheckDuplicated" class="small text-danger d-none">이미 사용중인 ID입니다.</div>
					<div id="idCheckOk" class="small text-success d-none">사용 가능한 ID 입니다.</div>
				</div>
				
				<span class="sign-up-subject">Password</span>
				<div class="m-3">
					<input type="password" id="password" name="password" class="form-control col-6" placeholder="비밀번호를 입력하세요">
				</div>
	
				<span class="sign-up-subject">Confirm password</span>
				<div class="m-3">
					<input type="password" id="confirmPassword" class="form-control col-6" placeholder="비밀번호를 입력하세요">
				</div>
	
				<span class="sign-up-subject">Name</span>
				<div class="m-3">
					<input type="text" id="name" name="name" class="form-control col-6" placeholder="이름을 입력하세요">
				</div>
	
				<span class="sign-up-subject">이메일</span>
				<div class="m-3 d-flex">
					<input type="text" id="email" name="email" class="form-control col-6" placeholder="이메일을 입력하세요">
					<button type="button" id="emailCheckBtn" class="btn btn-success">이메일확인</button>
				</div>
				<div class="ml-3 mb-3">
					<div id="emailCheck" class="small text-danger d-none">이메일 인증에 실패했습니다.</div>
					<div id="emailCheckOk" class="small text-success d-none">사용 가능한 이메일입니다.</div>
				</div>
				<span class="sign-up-subject">이메일 인증번호</span>
				<div class="m-3 d-flex">
					<input type="text" id="emailVerify" name="emailVerify" class="form-control col-6" placeholder="인증번호를 입력하세요">
					<button type="button" id="emailVerifBtn" class="btn btn-success">인증번호확인</button>
				</div>
				
				<span class="sign-up-subject">생년월일</span>
	            <div class="m-3">
	                <input type="text" id="birthday" name="birthday" class="form-control col-6" placeholder="생년월일을 선택하세요">
	            </div>
				
				<span class="sign-up-subject">성별</span>
	            <div class="m-3">
	                <div class="form-check form-check-inline">
	                    <input type="radio" id="male" name="gender" value="M" class="form-check-input">
	                    <label for="male" class="form-check-label">남성</label>
	                </div>
	                <div class="form-check form-check-inline">
	                    <input type="radio" id="female" name="gender" value="F" class="form-check-input">
	                    <label for="female" class="form-check-label">여성</label>
	                </div>
	            </div>
				<br>
				<div class="d-flex justify-content-center m-3">
					<button type="submit" id="userEditBtn" class="btn btn-info">수정하기</button>
				</div>
			</form>
		</div>
</section>

<th:block layout:fragment="script">
    <script>
	    $(document).ready(function() {
    	   $("#birthday").datepicker({
	            dateFormat: "yy-mm-dd", 
	            changeYear: true,      
	            changeMonth: true,    
	            yearRange: "1900:+0",  
	            maxDate: new Date()    
	        });
    	   
			$("#loginIdCheckBtn").on("click", function() {
				$("#idCheck").addClass("d-none");
				$("#idCheckDuplicated").addClass("d-none");
				$("#idCheckOk").addClass("d-none");
				const loginId = $("#loginId").val().trim();
				
				const loginIdRegex = /^[a-zA-Z0-9]{4,50}$/;
    		    if (!loginIdRegex.test(loginId)) {
    			    $("#idCheck").removeClass("d-none");
    		        return;
    		    }
			
				
				$.ajax({
					url:"/user/is-duplicate-id"
					, data:{"loginId":loginId}
					, success:function(data) {
						if (data.code == 200) {
							if (data.data) {
								$("#idCheckDuplicated").removeClass("d-none");		
							} else {
								$("#idCheckOk").removeClass("d-none");
							}
							
						} else if (data.code == 500) {
							alert(data.message);
						}
					}
					, error:function(e) {
						alert("중복확인에 실패했습니다.");
					}
				});
			});
			
    	   $("#userEditForm").on("submit", function(e) {
    		   e.preventDefault();
    		   const loginId = $("#loginId").val().trim();
    		   const password = $("#password").val().trim();
    		   const confirmPassword = $("#confirmPassword").val().trim();
    		   const name = $("#name").val().trim();
    		   const email = $("#email").val().trim();
    		   const birthday = $("#birthday").val().trim();
    		   const gender = $("input[name='gender']:checked").val();
	    		   
    		   const consonantRegex = /[ㄱ-ㅎ]/
    		   
    		   if (loginId.length > 0) {
	   			   if ($("#idCheckOk").hasClass("d-none")) {
					   alert("아이디 중복확인을 해주세요.");
					   return;
				   }
	   			   
	    		   const loginIdRegex = /^[a-zA-Z0-9]{4,50}$/;
	    		   if (!loginIdRegex.test(loginId)) {
	    		       alert("ID는 4자 이상 50자 미만이며, 특수문자와 공백 없이 입력해야 합니다.");
	    		       return;
	    		   }
    		   }
    		   
    		   if (email.length > 0) {
	   			   if ($("#emailCheckOk").hasClass("d-none")) {
					   alert("이메일 인증을 해주세요.");
					   return;
				   }
	   			   
	    		   const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
	    		   if (!emailRegex.test(email)) {
	    		       alert("유효한 이메일 주소를 입력하세요.");
	    		       return;
	    		   }
    		   }
    		  
    		  if (password.length > 0) {
	    		  const passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[^A-Za-z\d])[A-Za-z\d\S]{8,}$/;
	    		  if (!passwordRegex.test(password)) {
	    		      alert("비밀번호는 영어, 숫자, 특수문자를 포함하고 8자 이상이어야 합니다.");
	    		      return;
	    		  }
	
	   		      if (password !== confirmPassword) {
	    		      alert("비밀번호와 확인용 비밀번호가 일치하지 않습니다.");
	    		      return;
	    		  }
    		  }
    		   
    		  if (name.length > 0) {
	    		   const nameRegex = /^[a-zA-Z가-힣\s]{2,30}$/;
	    		   if (name.length < 2 || name.length >= 30 || !nameRegex.test(name) || consonantRegex.test(name)) {
	    		       alert("이름은 2자 이상 30자 미만이며, 특수문자 없고 자음이 없이 입력해야 합니다.");
	    		       return;
	    		   }
    		  }
    		    		   
    		   if (!birthday) {
    			   alert("생년월일을 입력하세요.");
    		       return;
    		   }
    		   
    		   if (!gender) {
    			   alert("성별을 입력하세요.");
    		       return;
    		   }
    		   
    		   const url = $(this).attr("action");
    			
			   const params = $(this).serialize();
    		   
			   $.post(url, params) 
				.done(function(data) { 
					if (data.code == 200) {
						alert("정보변경을 완료했습니다.");
						location.reload();
					} else {
						alert(data.error_message);
					}
				})
				.fail(function(e) {
			        alert("요청 처리 중 에러가 발생했습니다: ");		       
				});
    	   });
    	   $("#emailCheckBtn").on("click", function() {
    		   const email = $("#email").val().trim();
    		   
    		   const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    		   if (!emailRegex.test(email)) {
    		       alert("유효한 이메일 주소를 입력하세요.");
    		       return;
    		   }
    		   
    		   $.ajax({
    			    url: "/email/verify-send"
    			    ,data: {"email":email}
    		   	    ,success: function(data) {
    		   		    if(data.code == 500) {
    		   			    alert(data.message);
    		   		    }
    		   	    }
    		   	    ,error:function(e) {
						alert("이메일 발송에 실패했습니다.");
					}
    		   })
    	   });
    	   $("#emailVerifBtn").on("click", function() {
			   $("#emailCheck").addClass("d-none");
			   $("#emailCheckOk").addClass("d-none");
    		   const email = $("#email").val().trim();
    		   const salt = $("#emailVerify").val().trim();
    		   
    		   const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    		   if (!emailRegex.test(email)) {
    		       alert("유효한 이메일 주소를 입력하세요.");
    		       return;
    		   }
    		   
    		   if (salt.length != 12) {
    			   alert("유효한 이메일 인증번호를 입력하세요.");
    		       return;
    		   }
    		   
    		   $.ajax({
    			    url: "/email/verify"
    			    ,data: {"email":email, "salt":salt}
    		   	    ,success: function(data) {
    		   	    	if (data.code == 200) {
    		   	    		alert("이메일 인증에 성공했습니다.");
    		   	    	 	$("#emailCheckOk").removeClass("d-none");
    		   	    	} else if (data.code == 500) {
    		   			    alert(data.message);
    		   				$("#emailCheck").removeClass("d-none");
    		   		    }
    		   	    }
    		   	    ,error:function(e) {
						alert("이메일 인증을 오류로 실패했습니다.");
					}
    		   })
    	   });
	    }) 
    </script>
</th:block>