<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents">
		<div class="shadow-box m-5">
			<div class="d-flex justify-content-center m-5">				
				<form id="loginForm" action="/user/sign-in" method="post">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">ID</span>
						</div>
						<input type="text" class="form-control" name="loginId" id="loginId">
					</div>
					
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">PW</span>
						</div>
						<input type="password" class="form-control" name="password" id="password">
					</div>
					
					<input type="submit" class="btn btn-block btn-info" value="로그인">
					<a class="btn btn-block btn-dark" href="/user/user-up-view">회원가입</a>
				</form>
			</div>
		</div>
</section>

<th:block layout:fragment="script">
    <script>
		$(document).ready(function() {
			$("#loginForm").on("submit", function(e) {
				e.preventDefault();
				const loginId = $("#loginId").val().trim();
				const password = $("#password").val();
				
	    		   const loginIdRegex = /^[a-zA-Z0-9]{4,50}$/;
	    		   if (!loginIdRegex.test(loginId)) {
	    		       alert("올바른 아이디를 입력하세요.");
	    		       return;
	    		   }
	    		   
	    		   const passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
	    		   if (!passwordRegex.test(password)) {
	    		       alert("패스워드를 확인해 보세요.");
	    		       return;
	    		   }
				
				let url = $(this).attr("action");
		
				let params = $(this).serialize();
				
				
				$.post(url, params)
				.done(function(data) {
					if (data.code == 200) {
						location.href = "/";
					} else if (data.code == 500){
						alert(data.message);
					}
				})
				.fail(function(e) {
			        alert("요청 처리 중 에러가 발생했습니다: ");		       
				});
			});
		});
    </script>
</th:block>