<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
        <header>
            <div class="headertop-wrapper d-flex">
                <div class="logo col-3"><a href="/">SBLAND</a></div>
                <div class="user-ui col-9">
                	<div class="d-flex justify-content-end">
	                    <div th:if="${session.userSimple != null}")>
							<a href="#" class="btn">로그아웃</a>
						</div>
						<div th:unless="${session.userSimple != null}")>
							<a href="#" class="btn">로그인</a>
						</div>
	                    <a href="#" class="btn">마이페이지</a>
	                    <a href="#" class="btn">장바구니</a>
                    </div>
                    <div class="input-group">
                    	<form id="searchForm" method="get" action="/product/product-list-view" class="col-9 d-flex">
							<input type="text" class="form-control" id="keyword" name="keyword">					
							<button class="btn btn-outline-secondary col-2" type="submit" id="searchBtn">검색</button>
					 	</form>
					</div>
                </div>
            </div>
            <div class="category-nav bg-light py-2 d-flex justify-content-around">
            	<div th:each="category : ${categoryDTOListTree}">
            		<div class="mainCategory text-center">
            			<a th:href="@{/product/product-list-view(code=${category.code},rightValue=${category.rightValue})}" class="btn btn-light" th:text="${category.name}"></a>           		
	           			<div class="subCategory" th:if="${#lists.size(category.childCategory) > 0}">
	           				<div class="leafCategoryWrap d-flex justify-content-center p-2">
		           				<div class="border" th:each="child1 : ${category.childCategory}">
		           					<a th:href="@{/product/product-list-view(code=${child1.code},rightValue=${child1.rightValue})}" th:text="${child1.name}"></a>
		           					<div class="leafCategory d-flex flex-wrap justify-content-center border-top" th:if="${#lists.size(child1.childCategory) > 0}">
		           						<th:block th:each="child2 : ${child1.childCategory}">
		           							<div class="p-1"><a th:href="@{/product/product-list-view(code=${child2.code},rightValue=${child2.rightValue})}" th:text="${child2.name}"></a></div>
		           						</th:block>
		           					</div>
		           				</div>
	           				</div>
	           			</div> 
           			</div>          		
            	</div>
			</div> 
        </header>
</th:block>


</html>