<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
        <header>
            <div class="headertop-wrapper d-flex">
                <div class="logo col-3">SBLAND</div>
                <div class="user-ui col-9">
                	<div class="d-flex justify-content-end">
	                    <div th:if="${session.userSimple != null}")>
							<a href="#" class="btn">로그아웃</a>
						</div>
						<div th:unless="${session.userSimple != null}")>
							<a href="#" class="btn">로그인</a>
						</div>
	                    <a href="#" class="btn">마이페이지</a>
	                    <a href="#" class="btn">장바구니</a>
                    </div>
                    <div class="input-group">
					  <input type="text" class="form-control" id="keyword">					
					  <button class="btn btn-outline-secondary" type="button" id="searchBtn">검색</button>
					</div>
                </div>
            </div>
            <div class="category-nav bg-light py-2">
	            <div class="btn-group" role="group">
					<button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						Dropdown
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Dropdown link</a>
						<a class="dropdown-item" href="#">Dropdown link</a>
					</div>
				</div>
			</div> 
       
        </header>
</th:block>
</html>