@charset "UTF-8";
#wrap {
    width: 1440px;
    margin: 0 auto;
}

header {
    background-color: #d9d9d9;
}

.headertop-wrapper {
    padding: 20px 40px;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

.category-nav {
	
}

.banner {
    position: relative;
    width: 100%;
    height: 400px;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    height: 400px;
    display: block;
}

.left-button, .right-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    z-index: 10;
    font-size: 18px;
}

.left-button {
    left: 20px; /* 이미지 안쪽으로 위치 */
}

.right-button {
    right: 20px; /* 이미지 안쪽으로 위치 */
}

.left-button:hover, .right-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.contents {
	min-height:600px;
	width:900px;
	margin: auto;
	padding: 10px;
}

.home-product{
	height: 300px;
}

.home-product-card {
	height: 240px;
}

.home-product-image {
	height: 150px;
}


.recently-viewed {
    position: fixed;
    top: 20px;
    right: 100px;
    width: 200px;
    top: calc(20px + 200px);
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.recent-products {
	height:100px;
}

footer {
    height:150px;
    padding: 20px;
}

