<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents">
	<div id="orderList" th:if="${ShoppingcartCardDTOList.size > 0}">
		<div th:each="ShoppingcartCardDTO : ${ShoppingcartCardDTOList}" class="d-flex shoppingcartCard border">
			<div class="col-1 border-right d-flex justify-content-center align-items-center h-100">
			  <input type="checkbox" name="checkProduct"  th:value="${ShoppingcartCardDTO.productId}" th:data-product-total-price="${ShoppingcartCardDTO.price * ShoppingcartCardDTO.productCount}">
			</div>
			<div class="shoppingcartCard col-3 d-flex justify-content-center align-items-center border-right h-100">
				<img th:src="${ShoppingcartCardDTO.ThumbnailImage}" alt="상품 썸네일">
			</div>
			<div class="col-5 border-right h-100 d-flex flex-column align-items-center">
				<div class="shoppingcartTitle d-flex align-items-center" th:text="${ShoppingcartCardDTO.name}">상품 제목</div>
				<div>
		       		<button type="button" class="editOrderBtn btn btn-secondary btn-sm" data-toggle="modal" data-target="#modal" th:data-product-count="${ShoppingcartCardDTO.productCount}" th:data-product-id="${ShoppingcartCardDTO.productId}">주문수정</button>
				</div>
			</div>
		    <div class="col-2 border-right h-100 d-flex flex-column justify-content-center align-items-end">
		    	<small class="productCount" th:text="|${ShoppingcartCardDTO.productCount}개|">상품 가격</small>
		    	<small class="productPrice" th:text="|${ShoppingcartCardDTO.price}원|">상품 가격</small>
		    	<small class="productTotalPrice" th:text="|total = ${ShoppingcartCardDTO.price * ShoppingcartCardDTO.productCount}원|">상품 가격</small>
		    </div>		
			<div class="col-1 h-100 d-flex jsutify-content-center align-items-center">
				<button type="button" class="shoppingcartDelBtn btn btn-secondary" th:data-product-id="${ShoppingcartCardDTO.productId}">삭제</button>
			</div>			
		</div>
		<div>
			<input type="text" id="shippingAddress" class="form-controll">
		</div>
	</div>
    <div class="recently-viewed text-center">
           <h3>주문예상금액</h3>
           <div id="totalPaymentPrice">
               금액
           </div>
           <div id="deliveryfee">
               5000원
           </div>  
           <div id="orderPaymentPrice">
               금액
           </div>      
           <button id="paymentBtn" class="btn btn-primary btn-block" 
           th:data-merchant-uid="${merchantUid}"
           th:data-imp-key="${impKey}"
           th:data-buyer-name="${session.userSession.name}"
           th:data-buyer-email="${session.userSession.email}"
           >주문하기</button>
    </div>
   	<div class="modal fade" id="modal">
		<div class="modal-dialog modal-dialog-centered modal-sm">
			<div class="modal-content text-center">
				<div class="py-3 d-flex">
					<input id="modalProductCount" type="text">
				</div>
				<div class="py-3">
					<a href="#" id="shoppingcartEditBtn">수정</a>
				</div>
				<div class="py-3 border-top">
					<a href="#" data-dismiss="modal">취소</a>
				</div>
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
		$(document).ready(function() {
			initializeHeaderEvent();
		    const IMP = window.IMP; 
		    IMP.init($("#paymentBtn").data("imp-key")); 

	        $('#paymentBtn').click(function () {
	        	$("#paymentBtn").attr("disabled", true);
				const amount = parseInt($("#orderPaymentPrice").text(),10);
				const deliveryfee = parseInt($("#deliveryfee").text(),10);
				const merchantUid = $("#paymentBtn").data("merchant-uid");
				const shippingAddress = $("#shippingAddress").val();
		        const buyerName = $("#paymentBtn").data("buyer-name");
		        const buyerEmail = $("#paymentBtn").data("buyer-email")
				let orderDetailMapList = [];
				$("input[name=checkProduct]:checked").each(function() {
			       const checkbox = $(this); 
			       const productId = parseInt(checkbox.val(),10);
			       const totalPrice =  parseInt(checkbox.data("product-total-price"),10); 
			       const productCard = checkbox.closest('.shoppingcartCard');
			       const productCount = productCard.find('.productCount').text().replace('개', '').trim();
			       const productPrice = productCard.find('.productPrice').text().replace('원', '').trim();
			       orderDetailMapList.push({
			           productId: parseInt(productId, 10),
			           productCount: parseInt(productCount, 10),
			           productPrice: parseInt(productPrice, 10),
			           totalPrice: parseInt(totalPrice, 10)
			       });
			    });
				if (amount <= 0) {
					alert("장바구니 정보를 확인해주세요");
					$("#paymentBtn").attr("disabled", false);
					return;
				};
				if (orderDetailMapList == null || orderDetailMapList.length === 0) {
					alert("장바구니 정보를 확인해주세요");
					$("#paymentBtn").attr("disabled", false);
					return;
				};

	            IMP.request_pay({
	                pg:'html5_inicis',
	                pay_method: 'card',
	                merchant_uid: merchantUid,
	                name: 'SBLAND 상품 결제',
	                amount: amount,
	                buyer_email: buyerEmail,
	                buyer_name: buyerName, 
	            }, function (rsp) {
	                if (rsp.success) {
	                	$.ajax({
	                	    type: "POST",
	                	    url: "/payment/verify",
	                	    contentType: "application/json",
	                	    data: JSON.stringify({
	                	        impUid: rsp.imp_uid,
	                	        merchantUid: rsp.merchant_uid,
	                	        deliveryfee: deliveryfee,
	                	        shippingAddress: shippingAddress,
	                	        amount: amount,
	                	        orderDetailMapList: orderDetailMapList
	                	    }),
	                	    success: function (data) {
	                	        if (data.success) {
	                	            alert('결제가 완료되었습니다.');
	                	            $("#paymentBtn").attr("disabled", false);
	                	            location.reload();
	                	        } else {
	                	            alert('결제 검증에 실패했습니다.');
	                	            $("#paymentBtn").attr("disabled", false);
	                	        }
	                	    },
	                	    error: function (xhr, status, error) {
	                	        console.error("에러 발생:", error);
	                	        $("#paymentBtn").attr("disabled", false);
	                	    }
	                	})
	                }
	            });
	        });
	        
			$("input[name=checkProduct]").on("click" ,function(){
				let totalPrice = 0;
				let deliveryfee = parseInt($("#deliveryfee").text(), 10);
				$("input[name=checkProduct]:checked").each(function() {
					totalPrice += $(this).data("product-total-price");
				});
				$("#totalPaymentPrice").text(totalPrice + "원");
				let orderPaymentPrice = totalPrice + deliveryfee;
				$("#orderPaymentPrice").text(orderPaymentPrice + "원");
			})
			
			$(".shoppingcartDelBtn").on("click",function() {
				const prodcutId = $(this).data("product-id");
		        $.ajax({
                    type: "DELETE"
                    ,url: "/shoppingcart/delete"
                    ,data: {"productId":prodcutId}
	                ,success: function (data) {
	                	if (data.code == 200) {
	                        alert("장바구니가 삭제되었습니다.");
	                        location.reload();
	                	} else if (data.code == 500) {
	                		alert(data.message);
	                		location.reload();
	                	}
	                }
                    , error: function (e) {
                        alert("장바구니 삭제중 오류가 발생했습니다.");
                    }
              });
			});
			$(".editOrderBtn").on("click", function() {
				const prodcutId = $(this).data("product-id");
				const productCount = $(this).data("product-count")
				$("#modal").data("product-id", prodcutId);
				$("#modal").data("product-count", productCount);
				$("#modalProductCount").val(productCount);
				
			});
					
			$("#shoppingcartEditBtn").on("click", function(e) {
				const count = parseInt($("#modalProductCount").val(), 10);
				const prodcutId = $("#modal").data("product-id");
				if (count > 5) {
					alert("구매수량은 최대 5개 입니다.");
					$("#countInput").val(5);
					return;
				}
				if (count < 1) {
					alert("구매수량은 최소 1개 입니다.");
					$("#countInput").val(1);
					return;
				}
				$.ajax({
					url:"/shoppingcart/productQuantity"
					, data: {"productId":prodcutId, "productCount":count}
					, success: function(data) {
						if(data.code == 200) {
							if(data.data == 0){
								alert("재고가 없습니다.")
								location.reload();
							} else if (data.data >= count) {
								alert("장바구니 수정 완료.")
								location.reload();
							} else if (data.data < count){
								alert("남은 재고는 " + data.data + "개 입니다.")
							} else if (data.code == 500) {
								alert(data.message);
							}
						}
					}
					, error: function(e) {
						alert("장바구니 수정에 실패했습니다.");
					}
				});				
			});
		});
    </script>
</th:block>